.area1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}
.area1 .a1-titulo{
    width: 40vw;
    text-align: center; 
    font-family: 'Postman';
}
.area1 .a1-titulo h1{
    font-size: 5vw;
}
.area1 .a1-btn a{
    font-size: 1.2vw;
    text-align: center;

}
.area2{
    display: flex;
    font-family: 'Prim';
}
.area2 a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.area2 a h3{
    color: black; 
    margin-bottom: 3vh;
}
.area2 a img{
    height: 60vh;
    margin-top: -10vh;
}
.area1 a:hover, .area2 a:hover img{
    opacity: 0.7;
}

.molde{
    width: 100vw;
    height: 20vh;
    background-repeat: no-repeat;
    background-image: url(../img/molde.png);
    transform: translateZ(100deg);
}

.card img{
    height: 140px;
    width: 140px;
    margin: 124px 60px;
}
.card .membros{
    overflow: hidden;
}
.card:hover img{
    display: none;
}
.card:hover .membros{
    display: block;
    animation: showEffect 1s;
}

@keyframes showEffect {
    from{
        opacity: 0.1;
    }
    to{
        opacity: 1;
    }
}